:root {
  --h1: 3.4rem;
  --h2: 2rem;
  --h3: .91rem;
  --weird-green: #ccc5b9;

  --ae-dull-red: #b47a7a;
  --ae-dark-purple: #963f5c;
  --ae-light-red: #e0aeae;

  --ag-dull-blue: #70a7a7;
  --ag-dark-blue: #344e5a;
  --ag-light-blue: #9ac0d4;

  --eg-pink: #ee6396;
  --eg-dark-pink: #DD497F;
  --eg-light-pink: #eb93c9;
}

body{
  background-color: rgb(255, 245, 249);
  color: var(--eg-dark-pink);
}

h1{
  padding: 1%;
  margin: 1% 2%;
  text-align: center;
  font-size: var(--h1);
}

form{
  align-items: center;
  text-align: center;
}

.ab-good-b{
  font-size: var(--h3);
  background-color: var(--ag-dull-blue);
  border-color: var(--ag-dark-blue);
  color: white;
}

.ab-evil-b{
  font-size: var(--h3);
  background-color: var(--ae-dull-red);
  border-color: var(--ae-dark-purple);
  color:white;
}

.neither-b{
  font-size: var(--h3);
  background-color: var(--eg-pink);
  border-color: var(--eg-dark-pink);
  color:white;
}

.alll-b{
  font-size: var(--h3);
}

#card{
  background-color: #e1e4e6;
  margin: 4%;
  padding: 2%;
  width: max-content;
  display: flex;
  justify-content: space-between;
}

.container{
  display: flex;
}